<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>596719920272-i0las60efh7lfbqja9th3k2oso3ninot.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.596719920272-i0las60efh7lfbqja9th3k2oso3ninot</string>
	<key>API_KEY</key>
	<string>AIzaSyDakWdA8-qxhazWLvnYpyZ5Wjcf0aMeAdY</string>
	<key>GCM_SENDER_ID</key>
	<string>596719920272</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jin0yoon.NoonBody</string>
	<key>PROJECT_ID</key>
	<string>noonbody-9af0d</string>
	<key>STORAGE_BUCKET</key>
	<string>noonbody-9af0d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:596719920272:ios:af8d3963d955891484e415</string>
	<key>DATABASE_URL</key>
	<string>https://noonbody-9af0d.firebaseio.com</string>
</dict>
</plist>